.itemlist {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #fafafa;
}

.itemlist h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.itemlist table {
  width: 100%;
  border-collapse: collapse;
}

.itemlist th,
.itemlist td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.itemlist th {
  background-color: #007bff;
  color: white;
}

.itemlist tr:nth-child(even) {
  background-color: #f2f2f2;
}

.para{
  text-align: center;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.edit-btn {
  background-color: #28a745;
  margin-right: 5px;
}

.delete-btn {
  background-color: #dc3545;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn:hover {
  background-color: #c82333;
}


.total-section {
  margin-top: 20px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}

.total-section span {
  color: green;
}

.pdf-section {
  margin-top: 20px;
  text-align: right;
}

.pdf-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.pdf-btn:hover {
  background-color: #0056b3;
}
